.banner {
  width: 1240px;
  border-radius: 25px;
  background: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 56px 50px;
  margin-bottom: 50px;
  margin-top: 43px;



  .card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: #FF6060;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 60px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
    }

    h1 {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.426;
      z-index: 2;
      padding: 1rem;
    }

    @media (max-width: 576px) {
      margin: 0;
      text-align: left;
      width: 335px;
      height: 255px;
    }
  }

  @media (max-width: 576px) {
    margin: 22px auto 0 auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
    width: auto;
  }
}