.collapse {
    border-radius: 5px;
    overflow: hidden;
    width: 1003px;
    height: -124px;
    margin: 38px auto;

    &__title {
        background: rgba(255, 96, 96, 1);
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        font-weight: bold;
        z-index: 2;
        position: relative;
    }

    &__icon {
        display: inline-block;
        transition: transform 0.6s ease-in-out;

        &.open {
            transform: rotate(-180deg);
        }
    }

    &__content {
        background: rgba(246, 246, 246, 1);
        color: rgba(255, 96, 96, 1);
        padding: 15px;
        max-height: 200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateY(-100%);
        animation: slide-in 0.5s ease-in-out forwards;
        border-radius: 5px;
        font-size: 2rem;

        @media (max-width: 576px) {
            font-size: 3rem;
            ;
        }
    }

    @keyframes slide-in {
        from {
            transform: translateY(-50%);
        }

        to {
            transform: translateY(0);
        }
    }

    @media (max-width: 576px) {
        width: 335px;
    }
}