.housing-detail {

    .title-location-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;


    }

    .wrapper1 {
        display: flex;
        justify-content: space-between;

        .housing-title {
            color: #FF6060;
            font-family: 'Montserrat', sans-serif;
            font-size: 36px;
            font-weight: 500;
            line-height: 142.6%;
        }

        .housing-location {
            color: #FF6060;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 142.6%;
        }

        .housing-host {
            display: flex;
            gap: 10px;
            align-items: center;

            .housing-host-name {
                color: #FF6060;
                text-align: right;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 142.6%;
                width: 90px;
            }

            .housing-host-pictures {
                width: 64px;
                height: 64px;
                border-radius: 50%; // Si vous voulez que l'image soit ronde
            }
        }
    }
    .wrapper2 {
        display: flex;
        justify-content: space-between;
    .housing-tags {
        margin-top: 20px;
        display: flex;
        gap: 10px; // espace entre chaque tag

        .tag {
            display: flex;
            align-items: center; // Centre verticalement le texte à l'intérieur du tag
            justify-content: center; // Centre horizontalement le texte à l'intérieur du tag
            width: 115px;
            height: 25px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #FF6060;
            color: white; // Si le texte du tag doit être blanc
            font-size: 1.5rem; // Ajustez selon vos préférences
            font-weight: 500; // Ajustez selon vos préférences
        }
    }

    .housing-rate {
        width: 196px;
        height: 36px;
        margin-top: 21px; // Pour l'espace entre host et rate
        // Ajoutez ici le style pour les étoiles si nécessaire
        display: flex;
        justify-content: flex-end;
    }
}

    .specific-collapse-container {
        display: flex;
        justify-content: space-between;
        gap: 76px;

        .collapse {
            width: 582px;
            border-radius: 10px 10px 5px 5px;
        }
    }

    @media screen and (max-width: 768px) {
        // Ici, ajoutez les styles pour les écrans plus petits si nécessaire
    }
}