.not-found-container {
    text-align: center;
    color: #FF6060;
    font-family: Montserrat;
}

.not-found-404 {
    display: flex;
    height: 263px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin-bottom: 139px;
    margin-top: 139px;

    @media (max-width: 576px) {
        font-size: 198px;
    }
}

.not-found-text {
    font-size: 36px;
    font-weight: 500;
    line-height: 142.6%;
    margin-bottom: 139px;
}

.not-found-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 139px;
}