
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: white;

    &__logo {
        font-size: 1.5rem;
    }

    &__actions {
        nav ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            gap: 4.5rem;
            font-size: 3rem;

            li {
                margin: 0;

                a {
                    color: rgba(255, 0, 0, 0.7);
                    text-decoration: none;

                }
            }
        }
    }
}