.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;

    &__logo img {
        @media (max-width: 576px) {
            width: 145px;
        }
    }

    &__actions {
        nav ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            gap: 4.5rem;
            font-size: 3rem;

            li {
                margin: 0;
                padding-right: 20px;
                a {
                    color: rgba(255, 0, 0, 0.7);
                    text-decoration: none;

                }
            }
        }

        @media (max-width: 576px) {
            text-transform: uppercase;
        }
    }

    @media (max-width: 576px) {
        display: flex;
        justify-content: center;
        gap: 43px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
}